/* General */
* {
    box-sizing: border-box;
}

html {
    font-size: small;
    font-family: "Futura", sans-serif;
    color: white;
}

body {
    margin: 0px;
    background: #4A2463;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}

a {
    color: #FFF;
    text-decoration: none;
}

button {
    background-color: #5f3977;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.center {
    text-align: center;
}
/* End General */

/* Enter name */
.signupcontainer {
    margin-top: 100px;
}

.or {
    padding-top: 10px;
    text-align:center;
}

.signupbutton {
    text-align:center;
    padding-top: 10px;
}

#setupSignin {
   font-size: 10px;
}

#container {
    position:relative;
}
/* End Enter name */

/* Points page, */
.linksheader {
    text-align: center;
    font-weight: bold;
    padding: 30 0 10 0;
    font-size: small;
}
/* End Points page */

/* Index page */
.logoutbutton {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 30;
    right: 10;
    z-index:100;
}
/* End Index page*/

/* Menu*/
.menu-items button {
    border-top: 1px solid #472061;
    border-bottom: 1px solid #472061;
    border-right: 1px solid #472061;
}

.menu-items:nth-child(odd) {
    border-left: 1px solid #472061;
}

.menu-item {
    font-size: small;
    font-weight: 600;
}

button.menu-item {
    margin: 0;

}
/* End Menu */



/* Start page */
.link-button a {
    color: #FFFFFF;
    text-decoration: none;
}

.row.link-button {
    width: 100%;
    text-align: center;
}

.link-button button {
    width: 65%;
}

.link-button button a {
    font-family: "Futura", sans-serif;
}
/* End Start page */


/* Contest page*/
.artistnsong {
    padding: 10px 10px 10px 10px;
}

.artist {
    font-size: x-small;
}

#items .row:nth-child(odd) {
    background: #5f3977;
}
/* End Contest page */


/* Result page */
.resultheader {
    background: #7E5E94;
    padding: 5px 5px 5px 5px;
}

.resultitem, .resultitemself {
    border-style: solid;
    padding: 5px 5px 5px 5px;
    background: #5F3978;
    border-color:#321149;
    border-width: 1px 0px 0px 0px;
}

.resultitemself {
    background: #3B5177;
}
/* End Result page*/




/* Admin page */
#img1 {
    width: 100%;
}

#nameinputbutton {
    width: 100px;
    margin: 10px 100px 10px 100px;
}

/*.namediv {*/
    /*width: 300px;*/
    /*height: 100px;*/
    /**/
    /*position: absolute;*/
    /*top:0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /**/
    /*margin: auto;*/
/*}*/

#nameinput, #passwordinput {
    width: 200px;
    margin: 3px;
    height: 28px;
    font-size: 16px;
}

/*.selectorcontainer {*/
    /*position: relative;*/
/*}*/

.selector {
    background: #7E5E94;
    color: white;
    width: 95%;
    height: 30px;
    position: relative;
    top: 50%;
    transform: 			translateY(90%);
}

/*.selectionheader {*/
    /*width: 100%;*/
/*}*/

/* End Admin page*/



/* ?? */
/*.song {*/
    /*width: 50%;*/
    /*height:177px;*/
    /*display:inline;*/
/*}*/